/*-----------------------------------------------------------Colours*/

.bg-color-main {
    background-color: #F2C53D;
}

.bg-color-footer {
    background-color: #A63348;
}


/*-----------------------------------------------------------Index.html*/

main {
    height: 95vh;
}

.logo-header {
    font-family: 'Indie Flower', cursive;
    color: #5259D9;
    font-size: 75px;
    text-align: center;
    padding: 50px 0;
}

.game-select a {
    font-size: 30px;
    color: #5259D9;
    background-color: #F28705;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Patrick Hand', cursive;
    width: 200px;
    margin: 20px;
}

.row-image {
    padding: 50px 0 30px 0;
}

.play-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/*-----------------------------------------------------------Navbar*/

.navbar {
    background-color: #5259D9;
}

.navbar a:hover {
    color: #F28705;
}

.navbar-brand {
    color:#F2C53D;
    font-family: 'Indie Flower', cursive;
    font-size: 27px;
}

.nav-link {
    color:#F2C53D;
    font-family: 'Patrick Hand', cursive;
    font-size: 22px;
}

.nav-item {
    padding: 0 20px;
}

.navbar-toggler-icon {
    color:#F2C53D;
}


/*-----------------------------------------------------------Game.html*/

.move {
    border: 5px solid #5259D9;
    width: 300px;
    height: 300px;
    margin: 100px 0 30px 0;
    background: transparent;
}

.score-line {
    color:#A63348;
    margin: 200px 0 30px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    text-align: center;
}

/*-----------------------------------------------------------rules.html*/

.rules-list {
    margin-top: 30px;;
}

.rules-list li{
    color:#A63348;
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
}

.rules-header {
    color:#5259D9;
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
    margin-top: 100px;
    text-align: center;
}


/*-----------------------------------------------------------Footer*/

.content-footer {
    height: 5vh;
    margin: 0;
    padding: 0;
}
.content-footer h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
